<div class="container has-text-centered">
  <div class="card ">
    <h1 class="is-size-2">Typing Challenge</h1>
    <div>
      <span
        *ngFor="let obj of returnSplitWord(); let i = index;">
        <span *ngIf="obj.check" [style.color]="error" >{{ obj.letter }}</span>
        <span *ngIf="!obj.check" [style.color]="correct" >{{ obj.letter }}</span>
        <!-- <ng-template #elseBlock>{{ obj.letter }}</ng-template> -->
      </span>
    </div>

    <div class="field">
      <div class="control">
        <input (input)="onInputReceived($event)" type="text" class="input is-info">
      </div>
    </div>
  </div>
</div>
