<div class="container has-text-centered">
  <div class="card ">
    <h1 class="is-size-2">Typing Challenge</h1>
    <div>
      <span
        *ngFor="let obj of returnSplitWord(); let i = index;">
        <span>
          <span [style.color]="error" *ngIf="obj.letter !== enteredText[i]">{{ enteredText[i] }}</span>
          <span [style.color]="correct" *ngIf="obj.letter === enteredText[i]">{{ obj.letter }}</span>
        </span>
      </span>
    </div>

    <div class="field">
      <div class="control">
        <input (input)="onInputReceived($event)" type="text" class="input is-info">
      </div>
    </div>
  </div>
</div>
